
.avatar{
  border-radius: 50%;
  width: 54px;
  height: 54px;
  object-fit: cover;
}

.avatarWrapper {
  position: relative;
}

.status{
  content: '';
  position: absolute;
  background: #64c664;
  border-radius: 50%;
  width: 12px;
  bottom: 12%;
  right: 8%;
  height: 12px;
}
.userInfo {
  display: flex;
  flex-direction: column;
}


.chatItem{
  position: relative;
  padding: 10px;
  margin: 1px 10px;
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
  user-select: none
}

.newMessageCount{
  content: '';
  position: absolute;
  right: 0;
  transform: translateY(50%) translateX(-60%);
  padding: 3px 10px;
  background: lightgray;
  border-radius: 50%;
}

.lastMessge{
  color: #5a5959;
  font-weight: 450;
}


.chatItem:hover{
  background: rgba(211, 211, 211,0.2);
}

@media (max-width: 500px) {
  .userInfo {
    display: none;
  }
  .chatItem{
    width: 52.5%;
    height: 100%;
  }

}





