
.avatar{
  border-radius: 50%;
  width: 54px;
  height: 54px;
  object-fit: cover;
}

.avatarWrapper {
  position: relative;
}

.status{
  content: '';
  position: absolute;
  background: #64c664;
  border-radius: 50%;
  width: 12px;
  bottom: 12%;
  right: 8%;
  height: 12px;
}


.chatItem{
  padding: 10px;
  margin: 1px 10px;
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
  user-select: none
}

.chatItem:hover{
  background: rgba(211, 211, 211,0.2);
  //background: rgba(51, 144, 236,1);
  //color: white;
}





