.chat {
  overflow-y: auto;
  position: relative;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  //margin-top: 10px;
}


.chatsWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  max-height: 100%;
  padding-right: 50px;
  overflow-y: auto;
}


.red {
  display: flex;
  flex-direction: column;
}

.green {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.messageWrapper{
  display: flex;
  flex-direction: column;
justify-content: space-between;
}



