.chatAvatar{
  height: 46px;
  width: 46px;
  border-radius: 50%;
  object-fit: cover;
}

.chatHeader{
  padding: 15px 15px;
  width: 100vw;
  background: white;
}

.greenClass{
  color: green;
}

.redClass {
  color: red;
}

.backBtn{
  opacity: 80%;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
}

.backBtn:hover{
  background: rgba(211, 211, 211,0.2);

}

