.chatAvatar{
  height: 46px;
  width: 46px;
  border-radius: 50%;
  object-fit: cover;
}

.chatHeader{
  padding: 15px 15px;
  width: 100vw;
  background: white;
}

.greenClass{
  color: green;
}

.redClass {
  color: red;
}